html, body {
  background-color: #353559;
  margin: 0 auto;
}
main{
  display: block;
  /*height: 100vh;*/
  margin: -30px auto;
  background-image: url(http://data.whicdn.com/images/290236891/original.gif);
  background-repeat: repeat-x;
  /*background-size: cover;*/
}
.content{
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: arial;
}
.cpt{
  display: block;
  margin: 0 auto;
  padding-top: 30px;
  color: #fff;
  font-size: 30px;
}
.buttonContainer{
  height:530px;
}
.button img{
  margin-top: 30px;
  height: 100%;
  width: 100%;
  user-select: none;
}
.button{
  display: block;
  margin: 0 auto;
  height: 400px;
  width: 400px;
}
.button:hover{
  cursor: pointer;
  transform: scale(1.1);
}
.button:active{
  transform: scale(1);
}
.bonusContainer{
  display: block;
  margin: 0 auto;
  padding : 20px;
  background-color: #1B1B2E;
  height: 225px;
  border-top: 10px solid #A85F22;
  display: flex;
  flex-direction: row;
}
.bonusContainer h2{
  display: block;
}
.bonusContainer .bonus, .bonusContainer2 .bonus2{
  margin-right: 20px;
  background-color: rgba(147,147,250,0.5);
  height: 200px;
  width: 200px;
  box-shadow: 8px 8px 0px rgba(15,15,25,0.7);
}
.bonusContainer .bonus:hover{
  cursor: pointer;
  transform: scale(1.1)
}
.bonusContainer .bonus:active{
  transform: scale(1);
}
