html, body {
  background-color: #717DBD;
}
main{
  display: block;
  margin: 0 auto;
}
.content{
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px;
}
.cpt{
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}
.button{
  display: block;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 150px;
  margin-bottom: 30px;
}
.bonus{
  display: block;
  margin: 0 auto;
  background-color: #8896E3;
}
