html, body {
  background-color: #717DBD;
}
main{
  display: block;
  margin: 0 auto;
}
.content{
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 900px;
  height: 100%;
  text-align: center;
  font-family: arial;
}
.cpt{
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;

}
.buttoncontainer{
  height:500px;
}
.button img{
  height: 100%;
  width: 100%;

}
.button{
  display: block;
  margin: 0 auto;
  height: 500px;
  width: 500px;
}
.button:hover{
  cursor: pointer;
}
.button:active{
  transform: scale(0.9);
}
.bonus{
  display: block;
  margin: 0 auto;
  background-color: #8896E3;
  height: 300px;
}
